<address itemscope itemtype="http://schema.org/Organization">
  <p itemprop="name">{{site.name}}</p>
  {% for address in options.addresses %}
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">{{ address.street }}</span><br>
    <span itemprop="locality">{{ address.city }}</span>,
    <span itemprop="postal-code">{{ address.zipcode }}</span>
  </p>
  {% endfor %}

  <p>
    <a href="tel:{{options.phonenumber|url_encode}}" itemprop="telephone">{{options.phonenumber}}</a><br>
    <a href="mailto:{{options.email}}" itemprop="email">{{options.email}}</a><br>
  </p>
  <p>
  {% if options.kvk %}
    KVK: {{options.kvk}}
  {% endif %}
  </p>
</address>
