{% if menu.get_items %}
    <nav aria-label="{{label}}" class="{{class}}-menu{%if js_class %} {{js_class}}{% endif %}">
      <ul class="{{class}}-menu__list">
        {% for item in menu.get_items %}
          <li class="{{class}}-menu__item">
            <a class="{{class}}-menu__link{% if item.children %} has-children{% endif %}{% if item.current %} is-active{% endif %}"  href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
            {% if item.children %}
              {% include 'partials/svg.twig' with {'icon': 'chevron-down', 'class': class ~ '-menu__icon' } %}
              <div class="{{class}}-submenu">
                <ul class="{{class}}-submenu__list">
                  {% for subItem in item.children %}
                  <li class="{{class}}-submenu__item">
                    <a class="{{class}}-submenu__link{% if subItem.current %} is-active{% endif %}"  href="{{ subItem.link }}" title="{{ subItem.title }}">{{ subItem.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

    </nav>
{% endif %}