{% if testimonials %}

  <div class="testimonials">
    <ul class="testimonials__list">
      {% for testimonial in testimonials %}
      <li class="testimonial">
        {% if testimonial.thumbnail %}
          <img src="{{ testimonial.thumbnail.src|tojpg|resize(120) }}"
              class="quote__image" alt="{{ testimonial.thumbnail.title }}"
              srcset="
                {{ testimonial.thumbnail.src|tojpg|resize(120) }} 1x,
                {{ testimonial.thumbnail.src|tojpg|resize(240) }} 2x">
        {% endif %}
        <div class="testimonial__text">
          <div class="user-meta">
            <span class="user-name">{{testimonial.title}}</span>
            <span class="user-class">{{testimonial.group}}</span>
          </div>
          <blockquote class="quote">{{testimonial.quote}}</blockquote>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}