{{function('wp_head')}}

<header class="header" role="banner">
  <div class="header__wrapper">
    <a href="{{ site.url }}" title="{{ site.name }}" class="header__logo">
      {% include 'partials/defaults/svg.twig' with {'icon': 'logo', 'class': 'header__logo-icon', 'title': site.name } %}
    </a>

    <a href="#header-menu" class="skip-link">Naar hoofdnavigatiemenu</a>
    <a href="#content" class="skip-link">Naar hoofdinhoud</a>

    <button class="menu-trigger js-trigger-menu" aria-expanded="false">
      <svg class="menu-trigger__icon" viewBox="0 0 24 24">
        <title>menu</title>
        <path class="menu-trigger__bar menu-trigger__bar--1" d="M19,7H4A1,1,0,0,1,4,5H19a1,1,0,0,1,0,2Z"/>
        <path class="menu-trigger__bar menu-trigger__bar--2" d="M19,13H4a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z"/>
        <path class="menu-trigger__bar menu-trigger__bar--3" d="M19,19H4a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z"/>
      </svg>
      Menu
    </button>

    {% include 'partials/defaults/menu.twig' with {'selector': 'header', 'js_class': 'js-menu', 'menu': menu, 'label': 'site' } %}

  </div>
</header>

<main id="main" class="main">

  {% include 'partials/hero.twig' %}

  {% block content %}

  {% endblock %}

</main>

<footer class="footer">
  <div class="footer__wrapper">
    <a href="{{ site.url }}" title="{{ site.name }}" class="footer__logo">
      {% include 'partials/defaults/svg.twig' with {'icon': 'logo', 'class': 'footer__logo-icon', 'title': site.name } %}
    </a>

    <div class="quick-links">
      <h2 id="footer-nav-heading">Handige links</h2>
      {% include 'partials/defaults/menu.twig' with {'selector': 'footer', 'menu': footer_menu, 'label': 'footer-nav-heading' } %}
    </div>
    <div class="address">
      <h2>Contact</h2>
      {% include 'partials/address.twig' %}
    </div>
    <div class="social">
      <h2>Social media</h2>
      <p>Volg ons op</p>
      {% if options.facebook %}
        <a href="{{options.facebook}}" class="social__link" title="Volg {{site.name}} op Facebook" rel="noopener" target="_blank">
         {% include 'partials/defaults/svg.twig' with {'icon': 'facebook-rounded', 'class': 'social__icon', 'title': 'Volg ' ~ site.name ~ ' op Facebook' } %}
        </a>
      {% endif %}
      {% if options.twitter %}
        <a href="{{options.twitter}}" class="social__link" title="Volg {{site.name}} op Twitter" rel="noopener" target="_blank">
         {% include 'partials/defaults/svg.twig' with {'icon': 'twitter-rounded', 'class': 'social__icon', 'title': 'Volg ' ~ site.name ~ ' op Twitter' } %}
        </a>
      {% endif %}
      {% if options.linkedin %}
        <a href="{{options.linkedin}}" class="social__link" title="Volg {{site.name}} op LinkedIn" rel="noopener" target="_blank">
         {% include 'partials/defaults/svg.twig' with {'icon': 'linkedin-rounded', 'class': 'social__icon', 'title': 'Volg ' ~ site.name ~ ' op LinkedIn' } %}
        </a>
      {% endif %}

    </div>
  </div>
</footer>

{% include 'partials/icons.twig' %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46685413-1', 'auto');
  ga('send', 'pageview');
  ga('set', 'anonymizeIp', true);
</script>

{{function('wp_footer')}}