{% extends "base.twig" %}

{% block content %}

  <div class="about">
    <div class="about__row">
      <div class="usps">
        {% if post.get_field('usps') %}
          <div class="teaser__usps">
            <h2 class="teaser__title">{{ post.usps_label }}</h2>
            <ul class="teaser__list">
              {% for item in post.get_field('usps') %}
                <li>
                  {% include 'partials/defaults/svg.twig' with {'icon': 'chevron-right', 'class': 'teaser__icon' } %}
                  {{item.text}}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if post.get_field('offers') %}
          <div class="teaser__usps">
            <h2 class="teaser__title">{{ post.offers_label }}</h2>
            <ul class="teaser__list">
              {% for item in post.get_field('offers') %}
                <li>
                  {% include 'partials/defaults/svg.twig' with {'icon': 'chevron-right', 'class': 'teaser__icon' } %}
                  {{item.text}}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      <div class="prices">
        <div class="prices__col">
          {% if post.get_field('prices') %}
            <h2 class="prices__title">{{ post.prices_label }}</h2>
            <ul class="prices__list">
              {% for item in post.get_field('prices') %}
                <li>
                  {% include 'partials/defaults/svg.twig' with {'icon': 'chevron-right', 'class': 'prices__icon' } %}
                  {{item.text}}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="prices__col">
          <a class="prices__btn-cta" href="{{ site.url }}/contact">{{ post.label_btn_contactpage }}</a>
          <a href="tel:{{options.phonenumber|url_encode}}" class="prices__btn-call">{{ post.label_btn_call }} {{options.phonenumber}}</a>
        </div>
      </div>
    </div>
  </div>
  <article class="content">

    {% include 'partials/intro.twig' %}

  </article>
  {% if post.get_field('services') %}
    <div class="prices2">
      {% if post.services_image %}
        <img src="{{TimberImage(post.services_image).src|tojpg|resize(800)}}"
            alt="{{TimberImage(post.services_image).post_title}}" class="prices2__image"
           srcset="
            {{TimberImage(post.services_image).src|tojpg|resize(1140)}} 1140w,
            {{TimberImage(post.services_image).src|tojpg|resize(800)}} 800w,
            {{TimberImage(post.services_image).src|tojpg|resize(640)}} 640w"
           sizes="(min-width: 1140px) 1140px, 100vw">
      {% endif %}
      <div class="prices2__wrapper">
        <div class="prices2__text">
          <h2 class="prices2__title">{{ post.services_title }}</h2>
          <ul class="prices2__row">
            {% for service in post.get_field('services') %}
              <li class="prices2__column">
                <div class="prices2__item">
                  <div class="prices2__header">
                    <div class="prices2__label">{{ service.title }}</div>
                  </div>
                  <ul>
                      {% for usp in service.usps %}
                        <li class="prices2__usp">{{ usp.text }}</li>
                      {% endfor %}
                  </ul>
                  {% if service.link %}
                    <a href="{{ service.link }}" class="prices2__btn">Meer informatie</a>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

{% include 'partials/testimonials.twig' %}

{% endblock %}