{% import 'partials/defaults/forms.twig' as forms %}

{% extends "base.twig" %}

{% block content %}

<article class="content">

  <div class="contact">
    <div class="contact__row">
      <div class="contact__column">
        <h2>Adressen</h2>
        <div class="contact__addresses">
          {% for address in options.addresses %}
            <div class="contact__details">
              <p>

                {% if address.image %}
                  <img src="{{TimberImage(address.image).src|tojpg|resize(280)}}"
                     alt="{{ TimberImage(post.image).post_title }}" class="contact__image"
                     srcset="
                      {{TimberImage(address.image).src|tojpg|resize(280)}} 1x,
                      {{TimberImage(address.image).src|tojpg|resize(560)}} 2x">
                {% endif %}
                <strong>{{ address.street}}</strong><br>
                {{ address.zipcode}}, {{ address.city }}<br>
                <a href="https://www.google.com/maps?daddr={{ (address.street ~ ' ' ~  address.city)|url_encode }}" target="_blank" rel="noopener" class="contact__btn-route">Routebeschrijving</a>
              </p>
            </div>
          {% endfor %}

          <div class="contact__details">
            <p>
              <a href="tel:{{options.phonenumber|url_encode}}" itemprop="telephone">{{options.phonenumber}}</a><br>
              <a href="mailto:{{options.email}}" itemprop="email">{{options.email}}</a><br>
            </p>
            <p>
            {% if options.kvk %}
              KVK: {{options.kvk}}
            {% endif %}
            </p>
          </div>
        </div>
      </div>

      <div class="contact__form">
        <h2>Neem contact met ons op</h2>
        <form class="js-ajax-form" method="post" action="{{post.link}}">
          {{post.content}}

          <input type="hidden" name="action" value="submit_ajax_form">
          <input type="hidden" name="formkey" value="contact">
          <input type="hidden" name="security" value="{{nounce}}">

          {{ forms.input('Naam', 'name', true)}}
          {{ forms.input('E-mailadres', 'email', true, { 'type': 'email' })}}
          {{ forms.input('Telefoonnummer', 'phone', true, { 'type': 'tel' })}}

          <div class="form-group">
            <label for="message">Bericht: <span class="required">*</span></label>
            <textarea id="message" name="message" rows="3" required class="js-message" data-label="Bericht"></textarea>
          </div>
          <button type="submit" class="contact__submit">Verzenden</button>
          <p>Velden gemarkeerd met <span class="required">*</span> zijn verplicht.</p>
        </form>
      </div>
    </div>
  </div>

</article>

 <div class="map"></div>

{% endblock %}