{% if menu.get_items %}
  <nav aria-label="{{label}}" class="{{selector}}-menu{%if js_class %} {{js_class}}{% endif %}">
    <div id="{{selector}}-menu" class="js-skip-content"></div>
    <ul class="{{selector}}-menu__list">
      {% for item in menu.get_items %}
        <li class="{{selector}}-menu__item">
          <a class="{{selector}}-menu__link {{item.classes | join(' ')}}"  href="{{ item.link }}" title="{{ item.title }}" target="{{ item.target }}">{{ item.title }}</a>
          {% if item.children %}
          {{item.find_parent_item_in_menu|print_r}}
            {% include 'partials/defaults/svg.twig' with {'icon': 'chevron-down', 'class': selector ~ '-menu__icon' } %}
            <div class="{{selector}}-submenu">
              <ul class="{{selector}}-submenu__list">
                {% for subItem in item.children %}
                <li class="{{selector}}-submenu__item">
                  <a class="{{selector}}-submenu__link {{subItem.classes | join(' ')}}"  href="{{ subItem.link }}" title="{{ subItem.title }}">{{ subItem.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}