{% macro input(label, name, required, args) %}

  {% set id = args.id|default(name) %}
  {% set maxlength = args.maxlength|default(50) %}
  {% set min = args.min %}
  {% set type = args.type|default('text') %}
  {% set value = args.value %}
  {% set classes = args.classes %}
  {% set rows = args.rows|default(3) %}

  <div class="form-group">
    <label for="{{ id }}">{{ label }}: {% if required %}<span class="required">*</span>{% endif %}</label>
    <div class="form-group__field">
      {% if type == 'textarea' %}
        <textarea type="{{ type|default('text') }}" name="{{ name }}" id="{{ id }}"
          class="form-control js-{{ name }} {{classes}}"
          rows="{{ rows }}"
          {% if required %} required{% endif %}
          data-label="{{ label }}">{{ value|e }}</textarea>
      {% else %}

        <input type="{{ type }}" name="{{ name }}" id="{{ id }}"
          maxlength="{{ maxlength }}" class="form-control js-{{ name }} {{classes}}"
          {% if value %} value="{{ value|e }}"{% endif %}
          {% if required %} required{% endif %}
          {% if min %} min="{{ min }}"{% endif %}
          {% if type == 'date' %} placeholder="dd-mm-jjjj"{% endif %}
          data-label="{{ label }}"
        >
      {% endif %}
    </div>
  </div>
{% endmacro %}

