{% import 'partials/defaults/image.twig' as image %}

{% if menu.get_items %}
  <nav aria-label="{{label}}" class="{{selector}}{%if js_class %} {{js_class}}{% endif %}"{% if id %} id="{{ id }}"{% endif %} tabindex="-1">

    <div class="menu__bg"></div>

    <ul class="{{selector}}__list">
      {% for item in menu.get_items %}
        <li class="{{selector}}__item">
          <a class="{{selector}}__link {{item.classes | join(' ')}}"  href="{{ item.link }}" title="{{ item.title }}"{% if item.target %} target="{{ item.target }}"{% endif %}>{{ item.title }}</a>
          {% if item.children %}
            {% include 'partials/defaults/svg.twig' with {'icon': 'chevron-down', 'class': selector ~ '__icon' } %}
            <ul class="{{selector}}__submenu {{item.classes | join(' ')}}">
              {% for subItem in item.children %}
              <li class="{{selector}}__submenu-item">
                <a class="{{selector}}__submenu-link {{subItem.classes | join(' ')}}"  href="{{ subItem.link }}" title="{{ subItem.title }}">
                  {{ subItem.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}